PORT=3000
PUBLIC_PATH=public

# hay que crear una cuenta de discord y también crear un canal y dentro del canal crear un bot en:
# click derecho en el canal -> ajustes del servidor -> vista general -> integraciones -> crear webhook
DISCORD_WEBHOOK_URL=colocar_aquí_la_url_que_nos_da_el_webhook_de_discord